* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #eaeaea;
}

@media only screen and (max-width: 750px) {
    body {
        overflow-x: hidden; 
    }
}

.main-container {
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    background-color: #f7f7f7;
    flex-direction: column;
    h1 {
        display: flex;
        margin-right: 30px;
        align-items: center;
        text-transform: uppercase;
    }
    svg {
        cursor: pointer;
    }
}

.svg-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-bolo {
    width: 30vw;
}

@media only screen and (max-width: 750px) {
    .main-container {
        width: 95vw;
        display: flex;
        align-content: center;
        flex-direction: column;
        h1 {
            justify-content: center;
            font-size: 1.2rem;
            margin-right: 0;
        }
    }
    .img-bolo {
        width: 60vw;
    }
}

.teste {
    top: 8%;
    width: 165px;
    height: 305px;
    margin: 10px;
    position: fixed;
    border-radius: 5px;
    background: #f7f7f7;
}

.container {
    h2 {
        display: flex;
        color: #e77ce6;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin: 20px 0px 40px 0px;
    }
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    border-radius: 10px;
    flex-direction: column;
    align-content: flex-start;
    background-color: #f7f7f7;
    ul {
        padding-left: 30px;
        margin-bottom: 40px;
        li {
            line-height: 2.2;
        }
    }
}

.preparo {
    li {
        list-style: none;
    }
    input {
        width: 3vw;
        height: 3vh;
    }
}

.content {
    width: 65vw;
    border-top: 2px solid #e77ce6;
    h3 {
        width: 25vw;
        height: 10vh;
        display: flex;
        padding: 10px;
        font-size: 1.5rem;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 40px 0px;
        background-color: #e77ce53c;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        width: 95vw;
    }
    
    .content {
        width: 85vw;
        h3 {
            width: auto;
        }
    }
}

#disqus_thread {
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    border-radius: 10px;
    flex-direction: column;
    align-content: flex-start;
    background-color: #f7f7f7;
}

footer {
    height: 10vh;
    display: flex;
    margin-top: 40px;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    p {
        a {
            text-decoration: underline;
            color: #e77ce6;
        }
    }
}

.ads {
    display: flex;
    justify-content: center;
}